@charset "UTF-8";
/* CSS Document */

A:link {
	text-decoration: none;
	color: #0c3121;
}
A:visited {
	text-decoration: none;
	color: #0c3121;
}
A:active {
	text-decoration:none;
	color: #0c3121;
}
A:hover {
	text-decoration:underline;
	color: #060;
}


body {
	background-image: url(images/bg.jpg);
	background-repeat: repeat-y;
	background-position: center;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


p {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	line-height: 1.7em;
	margin-top:-4px;
	font-weight: normal;
}


.p_table {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .8em;
	margin-top:-4px;
	font-weight: normal;
}


.p_bold {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size: 0.8em;
}


h1 {
	color: #030;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-style:italic;
	font-size: 1.2em;
	margin-bottom:20px;
}

/*--------------------- *Break* --------------------------*/


#wrapper {
	width:840px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	
}




#header {
	width:840px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-image: url(images/bar_menu_bg.gif);
	background-position: 0px 92px;
	background-repeat: no-repeat;
}

#body {
	position: inherit;
	width:840px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/bg_inner.jpg);
	background-repeat: repeat-y;
	min-height:300px;
}

#body2 {
	position: inherit;
	width:840px;
	margin-right: auto;
	margin-left: auto;
}


#img {
	margin-left: 23px;
	width: 760px;
}

#column1 {
	margin-left: 30px;
	width: 780px;
}



#column2 {

	float: right;
	width: 516px;
	margin-right: 200px;
	margin-top:5px;
	min-height:480px;
}

#footer {
	width: 820px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	background-color:#0c3121;
	padding:10px;

}



/*--------------------- *Break* --------------------------*/

.bullet_list {
	color: #000000;
	font-family: Times New Roman, Times, serif;
	font-size: .9em;
	line-height: 1.3em;

}


.text_home {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .8em;
	line-height: 1.7em;
	text-align:justify;
	margin-top:-4px;
}

.text_home2 {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	line-height: 1.7em;
	text-align:justify;
	margin-top:-4px;
}


.font_left{
	color: #000;
	font-family: "Times New Roman", Times, serif;
	font-size: 0.78em;
	line-height: 1.7em;
	text-transform: uppercase;
	padding-top:13px;
}


.text_backtotop{
	font-family: Verdana, Geneva, sans-serif;
	font-size: .7em;
	color:#999;
}


.footer {
	font-family: arial;
	font-size: .65em;
	color:#eee;
	font-weight:lighter;
	text-align:center;
}

.form {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	color:#333;
}



/*--------------------- *Drop Menu* --------------------------*/


	#nav {
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: 55px;
	width: 820px;
	background-image: url(images/bar_menu_bg.gif);
	background-repeat: no-repeat;
	}

	#nav li ul, #nav li ul {
		margin: 0;
		padding: 0;
	}

	#nav a {
		text-decoration: none;
	}

	#nav li { /*float the main list items*/
	margin: 0;
	float: left;
	display: inline;
	margin-right: 5px;
	}

	#nav li ul {
		display: none;
	}

	#nav li.off ul, #nav li.on ul  { /*put the subnav below*/
		position: absolute;
		height: 32px;
		width: 820px;
		margin-left: -65px;
	}



	#nav li a {
		color: #224d6f;
		font-weight: bold;
		display: block;
		padding: 0;
	}

	#nav li.on a {
		color: #f90;
	}

	#nav li.on ul a, #nav li.off ul a {
		border: 0;
		float: left; /*ie doesn't inherit the float*/
		color: #f90;
		width: auto;
	}



	#nav li.on ul {
		display: block;
	}

	#nav li.off:hover ul, #nav li.over ul {
		display: block;
		z-index: 6000;
	}

	#nav li.off a:hover, #nav li.on a:hover {
	color: #090;
	}

	/*do the image replacement*/

	#nav li span {
	position: absolute;
	left: -9384px;
	}

	#liHome a, #liAboutUs a, #liServices a, #liExperiences a, #liLicenses a, #liContact a, #liLinks a {
		display: block;
		position: relative;
		height: 32px;
		background: url(images/bk-dropdownMap2.gif) no-repeat; /*contains all hover states*/
	
	}

/*first, put the initial states in place*/

#liHome a {
	background-position: 6px  0;
	width:60px;
}

#liAboutUs a {
	background-position: -70px 0;
	width:90px;
}

#liServices a {
	background-position: -170px 0;
	width:98px;
}

#liExperiences a {
	background-position: -266px 0;
	width:126px;
}

#liLicenses a {
	background-position: -504px 0;
	width:175px;
}

#liContact a {
	background-position: -394px 0;
	width:85px;
}

#liLinks a {
	background-position: -700px 0;
	width:130px;
}

/*hover states*/

#liHome a:hover, #liHome:hover a, #liHome.over a {
	background-position: 6px -32px;
	width:60px;
}

#liAboutUs a:hover, #liAboutUs:hover a, #liAboutUs.over a {
	background-position: -70px -32px;
	width:90px;
}

#liServices a:hover, #liServices:hover a, #liServices.over a {
	background-position: -170px -32px;
	width:98px;
}

#liExperiences a:hover, #liExperiences:hover a, #liExperiences.over a {
	background-position: -266px -32px;
	width:126px;
}

#liLicenses a:hover, #liLicenses:hover a, #liLicenses.over a {
	background-position: -504px -32px;
	width:175px;
}

#liContact a:hover, #liContact:hover a, #liContact.over a {
	background-position: -394px -32px;
	width:85px;
}

#liLinks a:hover, #liLinks:hover a, #liLinks.over a {
	background-position: -700px -32px;
	width:130px;
}
/*subnav formatting*/

#nav li.off ul a, #nav li.on ul a {
	display: block;
	color: #0c3121;
	padding:4px;
	font-family: arial, verdana, sans-serif;
	font-size: .7em;
	background:none;
}		

#nav li.on ul a {
	background: #f90;
}
